@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
$dark-blue: #03256C;
$med-blue: #2541B2;
$light-blue: #49a8f7;

body {
    margin: 0px;
    // background-color: $light-blue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
